

body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#gameArea {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #f0f8ff;
    overflow: hidden;
}
.obstacle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
}
#score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: #333;
}
#gameOver {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}
#gameOver h1 {
    font-size: 36px;
    color: #333;
}
#gameOver button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.web {
    position: absolute;
    width: 4px;
    background: #555;
}

#mouse {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url('../img/araña.png') no-repeat center center;
    background-size: cover;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    pointer-events: none;
}

/* =========================
   CONTROLES MOBILE
========================= */
#mobileControls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    gap: 20px;
    z-index: 1000;
}

#mobileControls button {
    width: 70px;
    height: 70px;
    font-size: 28px;
    border-radius: 50%;
    border: none;
    background: rgba(0,0,0,0.6);
    color: white;
}

/* mostrar en pantallas chicas */
@media (max-width: 768px) {
    #mobileControls {
        display: flex;
    }
}

/* araña bot */
#aranabot {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url('../img/bot.png') no-repeat center center;
    background-size: cover;
    z-index: 100;
}